@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-4xl mb-4;
}
h2 {
  @apply text-3xl mb-4;
}
h3 {
  @apply text-2xl mb-4;
}
h4 {
  @apply text-xl mb-4;
}
h5 {
  @apply text-lg mb-4;
}
p {
  @apply text-base mb-4;
}


